@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400;600&display=swap");

@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --color-primary: #5c6cff;
  }

  html,
  body {
    @apply m-0;
    @apply w-full;
  }

  h1 {
    @apply text-5xl;
    @apply font-montserrat;
    @apply font-bold;
  }

  h2 {
    @apply text-4xl;
    @apply font-montserrat;
    @apply font-bold;
  }

  h3 {
    @apply text-2xl;
    @apply font-montserrat;
    @apply font-bold;
  }

  h4 {
    @apply text-xl;
    @apply font-montserrat;
    @apply font-bold;
  }

  p {
    @apply text-base;
  }

  small {
    @apply text-sm;
  }

  .heading {
    font-weight: 700;
  }
}

:root {
  color-scheme: dark;
}

.gradient_text {
  background: url("https://media4.giphy.com/media/3o6vXRpbptjHM70EzS/200w.webp?cid=ecf05e47gp3eeo3fq7tq0bncrq030e6meca71ezv002bizbk&rid=200w.webp&ct=g");
  background-size: cover;
  background-position: center;
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
